@font-face {
  font-family: " font-1";
  font-weight: bolder;
  src: url("../../../public/fonts/Exo-Bold.ttf");
}

@font-face {
  font-family: " font-2";
  /* font-weight: 600; */
  src: url("../../../public/fonts/Exo-Light.ttf");
}

:root {
  /* bg-color */
  --fondo-bg-1: #ff3867;
  --fondo-bg-2: #ffc873;
  --fondo-bg-3: #d37ec6;
  --bg: #eee;
  /* --bs-indigo: #6610f2; */
  --bs-indigo-option: #4b475174;


  /* focus */
  --bg-o: #ccc;
  --bg-s: #888;

  /*  animaciones*/
  --time: .3s;

  /*bordes  */
  --br: 5px;
  --b: 1px solid var(--bg-s);
  --b-2: 1px solid var(--bs-purple);
  --bs-btn-active: #6e42c1be;
  --bs-purple: #6f42c1;
  /* color */
  --txt: #444444;
  --btn-dark: #fff;
}
.theme-dark{
  --b-2: 1px solid #ec0909;
  --bs-pulple:#91f0ccd5 !important;
  --bs-indigo:#555555;
  --bs-btn-active: #c1b942be;
  --bg:var(--bg-s);
}

.btn-close{
  /* --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e); */
  --bs-btn-close-bg:url(../../../public/svg/close.svg);
  --bs-btn-close-color: #000;
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
  border: 0;
  border-radius: .375rem;
  opacity: var(--bs-btn-close-opacity);
}  

.font-1{
  font-family: " font-1";
}

.font-2{
  font-family: " font-2";
}
.btn{
  color: var(--bg);
  &:hover{
    color: var(--bg) !important;
  }
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  border-color: var(--bs-indigo) ;
  background-color: var(--bs-indigo);
  color: var(--bg);
}

.borde{
  border: var(--b-2);
}

.opa-40{
  opacity: .4;
  transition: var(--time);
}

.btn-dark {
  background-color: var(--bs-indigo) !important;
  border: var(--b-2);
  color: var(--bg);
  transition: .2s;

  &:hover {
    border: var(--b-2);
    box-shadow: 0 0 calc(var(--br)*1) var(--bs-purple);
    background-color: var(--bs-purple) !important;
  }

  &:active {
    background: var(--bs-btn-active) !important;
    box-shadow: 0 0 calc(var(--br)*2) var(--bs-btn-active);
  }
}

body {
  background: linear-gradient(to top right,
      var(--fondo-bg-3) 0%,
      var(--fondo-bg-2) 50%,
      var(--fondo-bg-1) 90%);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 319px;
}

/* ajustando contenedor */
.container>.row {
  min-height: 100vh !important;
}

/* fondo de la card */
#bg-fondo {
  background: url("../../../public/imgs/bg-codigo.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 30vh;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  transition: 0.2s;
  user-select: none;

  .option {
    #svg-option {
      box-shadow: 0 0 2px var(--bs-indigo);
      background-color: transparent;
      border: 1px solid var(--bs-purple);
      border-radius: var(--br);
      position: relative;
      right: .1rem;
      transition: var(--time);



      &:hover {
        cursor: pointer;
        background-color: var(--bg);

        box-shadow: 0 0 5px var(--bs-indigo);

        .st2 {
          stroke: var(--bs-indigo);
        }
      }
    }
  }

  #option {

    ~#option-items {
      width: 440%;
      height: 300%;
      scale: .80;
      text-wrap: nowrap;
      border-radius: var(--br);
      padding: var(--br);
      border: var(--b-2);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition: .2s, scale .1s;

      .form-switch .form-check-input:focus {
        width: 2em;
        margin-left: -2.5em;
        background-image: url("../../../public/svg/pint.svg");
        background-position: left center;
        border: none;
      }

      #checkSwitch {
        &:checked {
          flex-shrink: 0;
          width: 2em;
          height: 1em;
          margin-top: .25em;
          vertical-align: top;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: var(--bg);
          background-image: url("../../../public/svg/pint.svg");
          background-repeat: no-repeat;
          background-position: right center;
          background-size: contain;
          border: 1px solid var(--bs-purple);
          -webkit-print-color-adjust: exact;
          /* color-adjust: exact; */
          print-color-adjust: exact;
        }
      }

      .w-70 {
        width: 75%;
        transform: translateY(-2.25rem);
      }

      .perfiles {
        min-height: 37px;
        padding: var(--br);
        border: var(--b-2);
        transform: translateY(-1.1rem);
        transition: var(--time) ease-in;
        overflow: hidden;
        font-family: " font-1";

        >p {
          color: var(--txt);
          opacity: 1;
          transition: .1s, width .36s;
        }

        >img {
          z-index: 1;
        }

        &:hover {
          color: var(--bg);
          box-shadow: 0 0 8px var(--bs-purple);
          background-color: var(--bs-indigo);
          transition: var(--time);


          #svg {
            &:hover {
              width: 100%;
              transform: translateX(-25%);
              transition: .1s;

              ~p {
                width: 5%;
                opacity: 0;
                transition: var(--time);
              }
            }

            #iconCarrier {
              stroke: var(--bg);
              transition: var(--time);
            }
          }

          #img img {
            border: 1px solid var(--bg);
            transition: .1s;
          }
        }

        &:active {
          background: var(--bs-purple);

          #svg {
            #iconCarrier {
              stroke: var(--bg-o);
            }
          }
        }

        #iconCarrier {
          stroke: var(--bs-indigo);
          transition: var(--time);
        }

      }

      .comentarios {
        width: 100%;
        min-height: 37px;
        border: var(--b-2);
        padding: var(--br);
        transform: translateY(-.6rem);
        transition: var(--time) ease-in;


        >p {
          width: 80%;
          color: var(--txt);
          font-family: " font-1";
        }

        >span {
          width: 20%;
        }

        >p,
        >span {
          transition: var(--time);
        }

        &:hover {
          background-color: var(--bs-indigo);
          box-shadow: 0 0 8px var(--bs-purple);
          /* outline: 2px solid var(--bs-indigo); */
          transition: var(--time) ease-in;

          #shape-1,
          #shape-2,
          #shape-3 {
            stroke: #fff;
          }

          >p {
            opacity: 0;
            width: 0;
          }

          >span {
            width: 100% !important;
          }

          >p,
          >span {
            transition: .3s, opacity 0s;
          }
        }

        &:active {
          background: var(--bs-purple);

          #shape-1,
          #shape-2,
          #shape-3 {
            stroke: #ccc;
          }
        }
      }

    }

    &:checked {
      ~#option-items {
        opacity: 1;
        visibility: visible;
        scale: 1;
        background-color: var(--bg);
        transition: .2s, scale .15s;
      }

      +.option {
        #svg-option {
          border: 1px solid transparent;
          box-shadow: 0 0 0 transparent;

          &:hover {
            border: var(--b-2);
            box-shadow: 0 0 4px var(--bs-indigo-option);
          }

          #svg-spin-option {
            animation: spin-option .15s linear 1 alternate;
          }

          .st2 {
            stroke: var(--bs-indigo);
          }
        }
      }
    }

    &:not(:checked) {
      +.option #svg-option #svg-spin-option {
        animation: spin-option-r .12s linear 1;
      }
    }
  }

  #svg-spin-option {
    transition: .4s;
  }

  /* avatar */
  >div>img {
    object-fit: cover;
    object-position: 60% 20%;
    border: 1px solid var(--bs-indigo);
  }
}

#n-1.name {
  font-family: " font-1";
  color: var(--txt);
  letter-spacing: 1.5px;
  font-size: 1.8rem;

  &::before {
    content: "@";
    color: var(--bs-indigo);
  }
}

.fecha.hoverear {
  font-family: " font-2";
  font-size: 1.3rem;
  position: relative;
  color: var(--txt);

  &:hover {
    &::after {
      scale: 6 1;
    }
  }
}

.location {
  font-family: " font-2";
  font-size: 1rem;
  color: var(--txt);
  text-decoration: none;
  margin-bottom: .5rem !important;


  >span {
    &::before {
      content: "Ubicacion:";
      text-transform: capitalize;
      color: var(--bs-indigo);
      font-weight: 600;
    }
  }
}

.desc {
  margin: 0 1.5rem .5rem 1.5rem;
  font-family: " font-2";
  font-size: 1rem;
}

.hoverear {
  position: relative;

  &:hover {
    cursor: pointer;

    &::after {
      scale: 10 1;
      transition: .15s ease-in, ;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 44.5%;
    height: 1px;
    border-radius: var(--br);
    width: 10%;
    background-color: var(--bs-indigo);
    transition: .4s;
  }
}

#seguir {
  font-family: " font-1";
}

.card-body{
  background: var(--bg);
}

.card-footer {
  border-top: 1px solid var(--bs-indigo) !important;
  background: var(--bg);
  >small {
    >span {
      font-family: " font-1";
    }
  }
}

@keyframes spin-option {
  20% {
    transform: scale(.7) rotate(190deg);
  }

  46% {
    transform: scale(1) rotate(280deg);
  }

  99% {
    transform: rotate(360deg);

  }
}

@keyframes spin-option-r {
  20% {
    transform: scale(1) rotate(360deg);
  }

  46% {
    transform: scale(.7) rotate(280deg);
  }

  99% {
    transform: rotate(190deg);

  }
}