/* stylelint-disable stylistic/no-missing-end-of-source-newline */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
  font-family: " Londrina";
  font-weight: 400;
  src: url("../public/fonts/Londrina.otf") format("opentype");
}

@font-face {
  font-family: " Exo";
  font-weight: 400;
  src: url("../public/fonts/Exo-Light.ttf");
}

:root {
  --card-h: 600px;
  --card-w: 350px;
  --avatar-size: 128px;
  --foto-bg-h: 200px;
  --foto-bg-w: 300px;
  --fondo-bg-1: #ff3867;
  --fondo-bg-2: #ffc873;
  --fondo-bg-3: #d37ec6;
  --txt-s: #a05d5d;
  --btn: #2d7cbf;
  --bg-s: #888;
  --b: 3px solid #e758cf;
}

body div {
  height: 100vh;
  min-width: var(--card-w);
}

.bottom-10 {
  bottom: 13%;
}

.bottom-20 {
  bottom: 20%;
}

.bottom-60 {
  bottom: 58%;
}

.h-30 {
  height: 30%;
}

.h-70 {
  height: 70%;
}

.top-70 {
  top: 70%;
}

.container {
  background:
    linear-gradient(
      to top right,
      var(--fondo-bg-3) 0%,
      var(--fondo-bg-2) 50%,
      var(--fondo-bg-1) 90%
    );
  background-repeat: no-repeat;
}

#bg-fondo {
  background: url("../public/imgs/bg-codigo.jpg") no-repeat;
  background-size: cover;
}

#avatar {
  object-fit: cover;
  object-position: right top;
  border: var(--b);
}

.contenedor-body {
  box-shadow: 0 0 8px var(--bg-s) inset;
}

p.h1 {
  font-family: " Londrina";
}

.localidad {
  font-family: " Exo";
  color: var(--txt-s);
  font-size: 12px;
}

#location {
  display: inline-block;
  width: calc(var(--avatar-size) * 0.11);
  height: calc(var(--avatar-size) * 0.11);
  background: url("../public/svg/location-pin.svg") no-repeat;
  background-size: contain;
}

#die {
  display: inline-block;
  width: calc(var(--avatar-size) * 0.11);
  height: calc(var(--avatar-size) * 0.11);
  background: url("../public/svg/die.svg") no-repeat;
  background-size: contain;
}

#desc {
  font-family: " Exo";
  font-size: 15px;
}

#footer {
  color: var(--bg-s);
  border: 1px solid #88888859;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

#footer p {
  color: #000;
}

#note,
#followers,
#following {
  display: inline-block;
  width: calc(var(--avatar-size) * 0.12);
  height: calc(var(--avatar-size) * 0.14);
  background: url("../public/svg/note.svg") no-repeat;
  background-size: contain;
}

#followers {
  background: url("../public/svg/user-follow.svg") no-repeat;
  background-size: contain;
}

#following {
  background: url("../public/svg/user-heart.svg") no-repeat;
  background-size: contain;
}

#footer section {
  &:nth-child(3) {
    border-left: 1px solid #88888859;
  }

  &:nth-child(2) {
    border-left: 1px solid #88888859;
  }
}